# Imports and Data File

In [2]:
import sys
import pandas as pd
import matplotlib.pyplot as plt

sys.path.insert(0, '/workspaces/detecting-dine-out-patterns/src')
from util.distance import (
    average_distance_between_rows,
    median_distance_between_rows,
    max_distance_between_rows,
    timestamps_of_max_distance,
    longest_stretch_not_moving,
    get_distance_between_rows
)

In [3]:
file_path = '../../data/movements.csv'
movements_data = pd.read_csv(file_path, parse_dates=['datetime'])

# Distance Analysis

In [ ]:
"""
This block performs distance analysis on movement data grouped by 'id'.
"""

results = []
grouped = movements_data.groupby('id')

for name, group in grouped:
    avg_distance = average_distance_between_rows(group)
    med_distance = median_distance_between_rows(group)
    max_distance = max_distance_between_rows(group)
    timestamp1, timestamp2 = timestamps_of_max_distance(group)
    not_moving_time1, not_moving_time2 = longest_stretch_not_moving(group, 1)

    results.append({
        'id': name, 
        'avg_distance': avg_distance, 
        'med_distance': med_distance, 
        'max_distance': max_distance, 
        'max_distance time1': timestamp1, 
        'max_distance time2': timestamp2,
        'not moving time 1': not_moving_time1,
        'not moving time 2': not_moving_time2
    })

results_df = pd.DataFrame(results)
results_df.head(10)

In [ ]:
results = pd.DataFrame()
grouped = movements_data.groupby('id')

for name, group in grouped:
    distances = (get_distance_between_rows(group)*1000).round(0)
    results[name] = pd.Series(distances)

results.head(10)

     I000    I001  I002    I003  I004  I005  I006  I007  I008  I009
0    50.0    25.0  64.0    60.0   1.0   1.0  27.0  38.0   5.0  44.0
1     3.0    46.0   1.0    20.0  46.0  18.0  29.0   3.0  14.0   9.0
2    28.0    11.0  17.0     4.0  29.0   2.0  35.0  59.0  24.0  33.0
3    18.0    62.0  10.0    10.0   2.0   2.0  16.0  40.0   5.0  19.0
4    48.0    83.0  10.0     2.0  13.0  42.0   6.0  23.0   8.0  38.0
5     0.0   105.0   8.0    42.0  26.0  31.0  70.0   0.0  41.0   1.0
6    43.0     1.0  11.0    13.0  71.0  38.0   3.0   9.0  20.0  18.0
7  6884.0     1.0  28.0    52.0  17.0   0.0  19.0  18.0  18.0  20.0
8    61.0  9705.0  63.0  6101.0  51.0   0.0  15.0  16.0   5.0  25.0
9    62.0    10.0  31.0    27.0  76.0   6.0   9.0  52.0  14.0  34.0